<!-- jumbotron.component.html -->
<div class="uk-section uk-preserve-color uk-box-shadow-small">
  <div class="uk-container">

    <div class="uk-panel uk-margin-medium">
      <h1 class="uk-text-muted">Welcome to Open-journal</h1>
      <p>From one app we can create and manage journals like never before, Using Open-journal takes the ordinary
        idea of journaling to something extraordinary.
      </p>
      <a routerLink="/profile" class="uk-button uk-button-text uk-text-success">GET STARTED</a>

    </div>

    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>

    </div>

  </div>
</div>
