<!-- features.component.html -->
<div class="uk-section uk-container">

  <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div uk-text-center>
      <div class="uk-card uk-card uk-card-body uk-width-1-2@m uk-box-shadow-small">
        <div class="uk-card-badge"><span uk-icon="star" class="uk-text-success"></span></div>
        <h3 class="uk-card-title">1000+ Users</h3>
        <p>We have a large user base and can deliver more...</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card uk-card-body uk-width-1-2@m uk-box-shadow-small">
        <div class="uk-card-badge"><span uk-icon="star" class="uk-text-success"></span></div>
        <h3 class="uk-card-title">Secure</h3>
        <p>Open-journal implements state of the art security to protect its 1000+ users word wide...</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card uk-card-body uk-width-1-2@m uk-box-shadow-small">
        <div class="uk-card-badge"><span uk-icon="star" class="uk-text-success"></span></div>
        <h3 class="uk-card-title">Free</h3>
        <p>We stand in making a difference in the Open-journal community by making this app free to everyone...</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card uk-card-body uk-width-1-2@m uk-box-shadow-small">
        <div class="uk-card-badge"><span uk-icon="star" class="uk-text-success"></span></div>
        <h3 class="uk-card-title">Easy</h3>
        <p>Open-journal makes it really easy to get up and running with journals quickly...</p>
      </div>
    </div>
  </div>

</div>
